<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QRKit-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>QRKit-macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>QRKit-tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>QRKit-watchOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>iCode.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>iScan.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7510744919D0ACFC00C85851</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7510745419D0ACFC00C85851</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>758A25121BE0914400E3576A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>758A251B1BE0914500E3576A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>758A25341BE177E300E3576A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>758A25521BE1CBDD00E3576A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75DD05791CB771E50090C6C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75DD059D1CB7778E0090C6C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75E009801CB769D600139F8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
